  .view-windows {
    padding: 10px;
    --background: black;
  }

  .card-box {
    padding: 0px;
    background: black;
    color: white;    
  }
  



  .text-box {
    color: white;
    font-size: 10pt;
  }




  .text-box2 {
    color: white;
    font-size: 10pt;
    margin-left: 20px;
  }


  .text-col {
    background: black;
    padding: 10px;
  }


  .my-icon {
    color: #CC9E86;
  }



  .ion-Div {
    padding: 0px;
    margin: 0px;
    background: black;
  }


  .item-background {
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    color: white;
    background: black;
    --background: black;
  }


  .my-image {
    max-width: 70%;
    max-height: 70%;
  }

  .my-line {
    color: white;
    border-color: white;
    background-color: white;
    margin: 20px;
  }

  .my-arrow {
    width: 80;
    heigth: 80;
    color: white;
  }
