
  .ion-Div {
    padding: 0px;
  }


  .text-col {
    background: #CC9E86;
    padding: 10px;
  }


  .card-box-list {
    padding-left: 10px;
    padding-top: 5px;
    float: left;
    width: 96.99999%;
    max-height:60px;
    vertical-align: bottom;
    background: #CC9E86;
  }
  
  .pic-smaller-image {
    width:60px;
    float:left;
    margin:0 10px 5px 0;
  }
  
  .text-box {
    color: black;
    font-size: 10pt;
  }


