
  .header-line {
    height: 40px;
    max-height: 40px;
  }




  .header-thumb {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
  }




  .header-image {
    width: 30px;
    height: 30px;
    max-width: 30px;
    max-height: 30px;
  }




  .my-icon {
    color: #733C00;
  }

  .my-arrow {
    width: 80;
    heigth: 80;
    color: white;
  }
