
  .social-cards {
    padding: 5px;
  }

  ion-card {
    position: relative;
    text-align: center;
  }


  .text-col {
    background: #CC9E86;
  }


  .text-col3 {
    padding: 0px;
    text-align: left;
    font-size: 10pt;
    background: #FAF5DA;
  }


  .card-box {
    padding: 0px;
    float: left;
    width: 99.99999%;
  }
  
  .profile-image {
    padding: 0px 10px 10px 10px;
    float: left;
    width: 100%;
    max-height:200px;
    height:200px;
  }
  
  .pic-image {
    padding: 0px 0px 0px 10px;
    float: left;
    width: 100%;
    max-height:300px;
  }
  
  .text-box {
    color: black;
    font-size: 9pt;
  }


  .text-box-small {
    color: black;
    font-size: 8pt;
  }


  .text-box-left {
    color: black;
    font-size: 9pt;
    text-align: left;
  }


  .text-box-header {
    color: black;
    font-size: 18pt;
  }


  .title-box {
    padding: 0px;
    padding-top: 10px;
    padding-left: 10px;
    height: 30px;
    font-weight: bold;
    font-size: 16pt;
  }

  .my-icon {
    color: #733C00;
  }


  .my-button {
    background: #733C00;
    width: 30px;
    height: 30px;
  }


  .list-title {
    background: #733C00;
  }
 
  .list-box {
    background: #FAF5DA;
  }
 
  .list-col {
    border: 1px solid #ccc;
  }


  .list-title-text {
    color: white;
  }
 

  .noti-content {
    padding: 2px;
    color: black;
    font-size: 8pt;
    text-align: center;
    background: #FAF5DA;
  }

  .section-div {
    padding: 0px;
    background: #FAF5DA;
    text-align: center;
  }

  .item-header {
    background: #CC9E86;
    border-bottom: 1px solid #7f8c8d;
  }

  .text-box1 {
    padding: 0px;
    color: black;
  }

  .text-box2 {
    padding: 0px;
    color: grey;
  }

  .text-box3 {

    color: black;

    font-size: 18px;

    font-weight: bold;

  }



  .my-arrow {
    width: 80;
    heigth: 80;
    color: white;
  }


  .mybutton-icon {
    color: #FAF5DA;
  }


