
  .item-header {
    background: #fabcaf;
    border-bottom: 1px solid #7f8c8d;
  }

  .tile-box {
    padding: 0px;
    padding-left: 10px;
    height: 60px;
    font-weight: bold;
    font-size: 16pt;
  }

  .detail-box {
    padding-left: 10px;
    font-size: 10pt;
  }



  .text-box0 {
    padding: 5px;
    background: #FAF5DA;
    border: 1px solid #7f8c8d;
    border-radius: 5px !important;
  }


  .text-box1 {
    padding: 0px;
    color: black;
  }


  .text-box2 {
    padding: 10px;
    padding-top: 0px;
  }

  .emoti-icons2 {
    height:40px;
    width:40px;
    vertical-align:middle;
  }



  .my-card {
    --background: #DEB887;
  }


  .my-button {
    background: #733C00;
  }


  .my-arrow {
    width: 80;
    heigth: 80;
    color: white;
  }


  .mybutton-icon {
    color: #FAF5DA;
  }


