
  .social-cards ion-col {
    padding: 0;
  }

  ion-card {
    position: relative;
    text-align: center;
  }


  .text-col {
    background: #FAF5DA;
  }


  .card-box {
    padding: 0px;
    float: left;
    width: 99.99999%;
  }

  .pic-image {
    max-height:300px;
  }


  .text-box {
    color: black;
    font-size: 10pt;
  }

  .title-box {
    color: black;
    font-size: 14pt;
    font-weight: bold;
  }

  .my-icon {
    color: #733C00;
  }


  .tile-box {
    padding: 0px;
    padding-top: 10px;
    padding-left: 10px;
    height: 30px;
    font-weight: bold;
    font-size: 16pt;
  }

  .my-button {
    background: #733C00;
    width: 30px;
    height: 30px;
  }


  .my-arrow {
    width: 80;
    heigth: 80;
    color: white;
  }


  .mybutton-icon {
    color: #FAF5DA;
  }


