  .form-content {
    background: #64451b;
    color: white;
    height: 100px;
    overflow: hidden;
    padding: 0px;
    width: 100%;
    
    .my-card {
      background: #64451b;
      padding-left: 10px;
      vertical-align:middle;
    }


    .my-icon {
      color: #733C00;
    }

    .my-label {
      padding-left: 10px;
      padding-top: 10px;
      height: 98%;
    }


    .emoti-icons {
        height:40px;
	width:40px;
        vertical-align:middle;
    }





    .my-button {
      height: 30px;
    }

    .button-col {
      margin: 0;
      text-align: right;
      max-width: 80px;
      padding-right: 10px;
    }
  }


