
  .item-header {
    --background: #CC9E86;
  }

  .detail-box {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10pt;
  }

  .text-box1 {
    padding: 0px;
    color: black;
  }


  .text-box2 {
    padding-left: 10px;
    color: black;
    font-weight: bold;
  }


  .text-box3 {
    padding: 0px;
    color: blue;
    text-decoration: underline;
  }

  .tile-box {
    padding: 0px;
    padding-top: 10px;
    padding-left: 10px;
    height: 30px;
    font-weight: bold;
    font-size: 16pt;
  }

  .my-button {
    background: #733C00;
    width: 30px;
    height: 30px;
  }

  .my-icon {
    color: #733C00;
  }


  .my-arrow {
    width: 80;
    heigth: 80;
    color: white;
  }


  .mybutton-icon {
    color: #FAF5DA;
  }

