  
  .ion-Div {
    padding: 0px;
  }


  .text-col {
    background: #CC9E86;
    padding: 10px;
  }


  .text-small-col {
    background: #CC9E86;
    padding: 8px;
  }


  .icon-box {
    padding: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 30px;
    font-weight: bold;
    font-size: 16pt;
  }

  .title-box {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    font-weight: bold;
    font-size: 12pt;
    vertical-align: bottom;
  }

  .card-box {
    padding: 0px;
    float: left;
    width: 96.99999%;
    text-align: center;
  }
  
  .card-box-small {
    padding: 5px;
    float: left;
    width: 90px;
  }
  
  .card-box-list {
    padding-left: 10px;
    padding-top: 5px;
    float: left;
    width: 96.99999%;
    max-height:60px;
    vertical-align: bottom;
    background: #CC9E86;
  }
  
  .pic-image {
    max-height:300px;
  }
  
  .vid-image {
    max-height:200px;
  }
  
  .pic-small-image {
    max-width:80px;
    max-height:80px;
    width:80px;
    height:80px;
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
  }
  
  .pic-smaller-image {
    width:60px;
    float:left;
    margin:0 10px 5px 0;
  }
  
  .text-box {
    color: black;
    font-size: 10pt;
  }


  .text-box3 {

    color: black;

    font-size: 18px;

    font-weight: bold;

  }



  .my-icon {
    color: #733C00;
  }



  .my-button {
    background: #733C00;
    width: 30px;
    height: 30px;
  }

  .my-arrow {
    width: 80;
    heigth: 80;
    color: white;
  }

  .item-background {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .list-item {
    --border-radius: 5px;
    max-height: 80px;
  }

  .mybutton-icon {
    color: #FAF5DA;
  }


