
  .social-cards ion-col {
    padding: 0;
  }

  .card-box {
    padding: 0px;
    float: left;
    width: 99.99999%;
    background: #CC9E86;
  }
  
  .my-arrow {
    width: 80;
    heigth: 80;
    color: white;
  }


  .mybutton-icon {
    color: #FAF5DA;
  }


