<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start" fill="clear" color="dark" (click)="goBack()">
      <ion-icon class="my-arrow" name="arrow-back"></ion-icon>
    </ion-button>    
      
    <ion-title>{{ 'Group_MembersFrom' | translate }} {{ groupFullname }}</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="RightMenu">
        <ion-icon name="star"></ion-icon>
      </ion-menu-button>
    </ion-buttons>	
  </ion-toolbar>
</ion-header>

<ion-content class="cards-bg social-cards">
  <ion-searchbar placeholder="{{ 'All_Search' | translate }}" (ionInput)="getItems($event)"></ion-searchbar>
  <HR>
 
  <div class="card-box" *ngFor="let c of groupMembers; let i = index">
   <ion-card color="cardback">
    <ion-item color="custom">
     <h2>{{ c.UserData.FullName }}</h2>
    </ion-item>
 
    <img class="pic-image" src="{{ c.UserData.PhotoLocation }}" (click)="presentActionSheet(c.UserID, i)">
 
    <ion-card-content>
     <p class="text-box">{{ 'All_Type' | translate }}: {{ c.lblUserType | translate }}</p>
     <p class="text-box">{{ 'Group_MemberLevel' | translate }}: {{ c.lblMemberLevel | translate }}</p>
     <p class="text-box">{{ 'Group_MemberPosts' | translate }}: {{ c.NumPosts }}</p>
     <p class="text-box">{{ 'Group_LastPost' | translate }}: {{ c.LastPost | date: 'dd/MM/yyyy H:mm' }}</p>
     <p class="text-box">{{ 'Group_MemberSince' | translate }}: {{ c.MemberSince | date: 'dd/MM/yyyy H:mm' }}</p>
    </ion-card-content>
 
    <ion-row>
     <ion-col>
       <ion-button fill="clear" size="small" (click)="showAddLikePrompt(i)">
         <ion-icon class="my-icon" slot="start" name="thumbs-up"></ion-icon>
         <div class="my-icon">{{ c.UserData.Likes }}</div>
       </ion-button>
     </ion-col>
     <ion-col>
       <ion-button fill="clear" size="small" (click)="showAddLikePrompt(i)">
         <ion-icon class="my-icon" slot="start" name="thumbs-down"></ion-icon>
         <div class="my-icon">{{ c.UserData.NLikes }}</div>
       </ion-button>
     </ion-col>
     <ion-col>
       <ion-button fill="clear" size="small" (click)="showObject(i)">
         <ion-icon class="my-icon" slot="start" name="text"></ion-icon>
         <div class="my-icon">{{ c.UserData.Comments }}</div>
       </ion-button>
     </ion-col>
    </ion-row>
   </ion-card>
  </div>
 
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
 
 </ion-content>
 
