  .social-cards {
    padding: 5px;
  }

  ion-card {
    position: relative;
    padding: 0px;
  }
  
  .card-box {
    background: "#FAF5DA";
  }

  .tile-box {
    padding: 0px;
    padding-top: 10px;
    padding-left: 10px;
    height: 30px;
    font-weight: bold;
    font-size: 16pt;
  }

  .text-col {
    padding: 0px;
    text-align: left;
    background: #CC9E86;
  }


  .text-col2 {
    padding: 0px;
    text-align: left;
    font-size: 12pt;
  }

  .text-col3 {
    padding: 0px;
    text-align: left;
    font-size: 10pt;
    background: #FAF5DA;
  }

  .text-div {
    padding: 0px;
    display: inline-block;
    vertical-align: top;
  }


  .pic-image {
    padding: 0px 0px 0px 10px;
    width: 89%;
    height:200px;
    max-height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .pic-image2 {
    padding: 0px 0px 0px 10px;
    width: 89%;
    max-height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .pic-smallimage {
    padding: 0px 0px 0px 10px;
    max-width:100px;
    max-height:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-image {
    padding: 0px 10px 10px 10px;
    float: left;
    width: 100%;
    max-height:200px;
    height:200px;
  }
  
  .text-box {
    color: black;
    padding: 0px;
    font-size: 8pt;
  }


  .my-icon {
    color: #733C00;
  }


  .my-button {
    background: #733C00;
    width: 30px;
    height: 30px;
  }


  .item-header {
    background: #CC9E86;
    border-bottom: 1px solid #7f8c8d;
  }

  .item-header2 {
    background: #CC9E86;
    border-bottom: 1px solid #7f8c8d;
  }

  .item-header3 {
    color: black;
    justify-content: center;
  }

  .text-box1 {
    padding: 0px;
    color: black;
  }

  .text-box2 {
    padding: 0px;
    color: grey;
    font-size: 12pt;
  }

  .text-box3 {
    padding: 20px;
    color: black;
  }

  .noti-content {
    padding: 2px;
    color: black;
    font-size: 8pt;
    text-align: center;
    background: #FAF5DA;
  }

  .section-div {
    padding: 0px;
    background: #FAF5DA;
    text-align: center;
  }

  .col-center {
    text-align: center;
  }

  .my-arrow {
    width: 80;
    heigth: 80;
    color: white;
  }


  .mybutton-icon {
    color: #FAF5DA;
  }


