<ion-header>
  <ion-toolbar color="primary"> 
    <ion-title>&nbsp;{{title}}</ion-title>
     
    <ion-buttons slot="end">
      <ion-button fill="solid" color="secondary" (click)="cancelAndReturn()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <hr>

 <div *ngFor="let c of likes; let i = index" class="ion-Div">
  <ion-list *ngIf="styleList" class="item-background">
    <ion-item tappable color="nice" class="list-item">
      <ion-thumbnail slot="start">
        <img src="{{c.PhotoLocation}}" (click)="selectAndReturn(c.ID,c.UserID)" align="left">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h2>{{c.FullName}}</h2>
        <p class="text-box">&nbsp;{{'ALL_DateAdded' | translate }}: {{c.DateAdded | date: 'dd/MM/yyyy H:mm'}}</p>
      </ion-label>		
      <ion-button slot="end" fill="clear" class="my-button">
        <img *ngIf="c.YesNo == 1" class="my-thumbs" src="../../assets/imgs/Apply.png">
        <img *ngIf="c.YesNo == 2" class="my-thumbs" src="../../assets/imgs/Deny.png">
      </ion-button> 
    </ion-item> 
  </ion-list>
 </div>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>
